*{
	box-sizing: border-box;
	font-family: 'Montserrat','Microsoft Sans Serif','Monotype Corsiva';
}
body{
	margin: 0;
}
#header{
	display: flex;
	justify-content: center;
	background-color: #168016;
}
#header .header_title{
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 25px;
}
#infos,#container,#materiel,#sous_achat,.img_container,#footer_menu_list{
	display: flex;
	/* align-items: center; */
}
#infos #search{
	width: 30%;
}
#infos #tel,#infos #logo{
	width: 25%;
}
#infos #user,#infos #cart{
	width: 10%;
}
#infos #tel{
	text-align: center;
}
#infos #cart{
	text-align: center;
}
#infos #search,#infos #tel,#infos #cart,#infos #user{
	margin-top: 15px;
}
#search .search_item{
	width: 70%;
}
#search .search_action{
	width: 20%;
}
#portail{
	background-image: url(../img/rat.jpg);
	height: 600px;
	background-position: center;
	background-size: cover;
}
#menu #container{
	list-style-type: none;
}
#menu #container li{
	width: 17%;
}
#menu #container li a{
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #168016;
}
#user a,#footer_menu_list ul li a{
	text-decoration: none;
}
#user a svg{
	background-color: black;
}
#portail .title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	position: absolute;
	top: 550px;
	right: 0;
}
#portail .salle{
	position: absolute;
	top: 725px;
}
#portail .action{
	position: absolute;
	top: 700px;
	right: 0;
	font-weight: bold;
	
}
.prod{
	font-weight: bold;
	padding-top: 50px;
}
.prod p{
	color: #168016;
	text-align: center;
}
#materiel div{
	width: 25%;
	text-align: center;
}
#materiel div p{
	color: #168016;
	font-size: 15px;
}
.img_container,#materiel{
	justify-content: space-around;
}
#sous_achat{
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
#sous_achat div img{
	width: 200px;
}
#sous_achat div{
	margin: 5px;
}
#footer_menu{
	background-color: #2d862d;
}
#footer_menu_list{
	justify-content: flex-end;
}
#footer_menu_list  div ul{
	list-style-type: none;
}
#footer_menu_list  div ul li a{
	font-size: 15px;
	color: yellow;
}
#footer_menu_list  div ul li a:hover{
	color: crimson;
}
#footer p{
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
.apparence,#portail .title,#portail .action{
	color: rgb(255, 255, 255);
}
#footer_menu  div img{
	margin: 2px;
}
#footer_menu  div #active{
	position: relative;
	bottom: 20px;
}
strong{
	color: red;
}
#closeBtn{
	visibility: hidden;
}
#openBtn{
	visibility: hidden;
}


/* For tablet */
/* @media only screen and (max-width : 768px) {
	
} */

/* For phone */
@media only screen and (max-width : 480px) {
	#infos,#materiel,#menu #container{
		display: flex;
		flex-wrap: wrap;
	}
	#infos #search{
		width: 100%;
		text-align: center;
	}
	#infos #tel,#infos #cart,#infos #user{
		width: 33%;
	}
	#search .search_action{
		width: 30%;
	}
	#infos #tel span,#infos #user span{
		font-size: 12px;
	}
	#materiel div,#menu #container li{
		width: 100%;
	}
	#portail{
		height: 200px;
	}
	#portail .title{
		font-size: 20px;
		position: relative;
		top: 75%;
	}
	#portail .salle{
		position: relative;
		top: 65%;
		width: 25%;
	}
	#portail .action{
		position: absolute;
		visibility: hidden;
		font-size: 70%;
	}
	#footer_menu  div img{
		margin: 2px;
	}
	#footer_menu  div #active{
		bottom: 0;
		font-size: 13px;
	}
	#footer_menu_list  div ul li a{
		font-size: 13px;
	}

}